<?xml version="1.0"?>

<model>
  <name>Iris with Camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jakub Glowacki</name>
    <email>jakub.glowacki.stud@pw.edu.pl</email>
  </author>
  <description>
    Starting with iris_with_standoffs
    add CameraPlugin
  </description>
  <depend>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
    <model>
      <uri>model://downward_camera</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
